@model Tuple<IEnumerable<FalloutChat.Models.ChatHistoryListItem>, FalloutChat.Models.ChatHistoryCreate>

@{
    ViewBag.Title = "Index";
}

<h2>Chat it up!</h2>
<br />
<p>Enter a question in the big green box, then ask away! </p>
<br />
<div class="table">
    @foreach (var item in Model.Item1)
    {
        @Html.Raw("&gt; ") @Html.DisplayFor(modelItem => item.MessageSent) @Html.Raw("<br>")
        @Html.Raw("&lt; ") @Html.DisplayFor(modelItem => item.ResponseReceived) @Html.Raw("<br>")
    }
</div>

@Html.Partial("_CreatePartial", Model.Item2)
