@model IEnumerable<FalloutChat.Models.QuestionListItem>

@{
    ViewBag.Title = "Index";
}

<h1>User Submitted Questions</h1>
<br>
<p>Review the submitted questions below. If you like the question and answer, give it an up vote. If you don't like them, give it a down vote. When a question recieves enough up votes, it will be added to the knowledge base and be available for the bot to use.</p>
<br>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpVoteCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownVoteCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpVoteCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownVoteCount)
            </td>
            <td>
                @*@Html.ActionLink("Up Vote", "UpVote", new { id = item.Id }) |
        @Html.ActionLink("Down Vote", "DownVote", new { id = item.Id })*@
                <a href="@Url.Action("UpVote", new { id = item.Id })" title="Up Vote" >
                    <img alt="Up Vote" src="@Url.Content("https://i.ibb.co/pZ6bWvt/upvote.png")" class="votelink"/>
                </a>
                <a href="@Url.Action("DownVote", new { id = item.Id })" title="Down Vote">
                    <img alt="Down Vote" src="@Url.Content("https://i.ibb.co/kmDWYHW/downvote.png")" class="votelink" />
                </a>
            </td>
        </tr>
    }

</table>
